body {
    font-family: 'Onest', sans-serif;
}
.head {
    background: #e8eff5;
    margin-top: -10px;
}
.logo {
    margin-left: 300px;
    margin-top: 32px;
}
.location {
    font-family: 'Onest';
    font-size: 16px;
    margin-left: 582px;
    margin-top: -105px;
}
.location-src {
    position: absolute;
    margin-left: 560px;
}
.phone {
    font-family: 'Onest';
    font-size: 16px;
    margin-left: 684px;
    margin-top: -20px;
}
.phone-src {
    position: absolute;
    margin-left: 661px;
    margin-top: -18px;
}