body {
    font-family: 'Onest', sans-serif;
}
.head {
    background: #e8eff5;
    margin-top: -10px;
    height: 171px;
}
.logo {
    margin-left: 300px;
    margin-top: 32px;
}
.block {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 850px;
    padding-right: 50px;
    margin-top: -20px;
}
.location {
    font-family: 'Onest';
    font-size: 16px;
    margin-left: 582px;
    margin-top: -105px;
}
.location-src {
    position: absolute;
    margin-left: 560px;
}
.phone {
    font-family: 'Onest';
    font-size: 16px;
    margin-left: 684px;
    margin-top: -20px;
}
.phone-src {
    position: absolute;
    margin-left: 661px;
    margin-top: -18px;
}
.zakaz {
    background-image: url(/img/zakazi.png);
    width: 1320px;
    height: 881px;
    background-repeat: no-repeat;
    margin-left: 300px;
    margin-top: 50px;
}
.zakaz h2 {
    width: 588px;
    height: 156px;
    font-size: 48px;
    padding-left: 60px;
    padding-top: 60px;
    color: white;
    margin-left: 60px;
}
.tovar1 {
    background-color: #e8eff5;
    width: 424px;
    height: 480px;
    margin-left: 300px;
}
.img1 {
    width: 100px;
    padding: 15px;
}
.tovar2 {
    background-color: #e8eff5;
    width: 424px;
    height: 480px;
    margin-left: 748px;
    margin-top: -480px;
}
.img2 {
    width: 100px;
    padding: 15px;
}
.tovar3 {
    background-color: #e8eff5;
    width: 424px;
    height: 480px;
    margin-left: 1196px;
    margin-top: -480px;
}

.img3 {
    width: 100px;
    padding: 15px;
}
.tovar4 {
    background-color: #e8eff5;
    width: 424px;
    height: 480px;
    margin-left: 300px;
    margin-top: 32px;
}

.img4 {
    width: 100px;
    padding: 15px;
}
.tovar5 {
    background-color: #e8eff5;
    width: 424px;
    height: 480px;
    margin-left: 748px;
    margin-top: -480px;
}

.img5 {
    width: 100px;
    padding: 15px;
}
.tovar6 {
    background-color: #e8eff5;
    width: 424px;
    height: 480px;
    margin-left: 1196px;
    margin-top: -480px;
}

.img6 {
    width: 100px;
    padding: 15px;
}
.tovar7 {
    background-color: #e8eff5;
    width: 424px;
    height: 480px;
    margin-left: 300px;
    margin-top: 32px;
}
.img7 {
    width: 100px;
    padding: 15px;
}
.tovar8 {
    background-color: #e8eff5;
    width: 424px;
    height: 480px;
    margin-left: 748px;
    margin-top: -480px;
}
.img8 {
    width: 100px;
    padding: 15px;
}
.tovar9 {
    background-color: #e8eff5;
    width: 424px;
    height: 480px;
    margin-left: 1196px;
    margin-top: -480px;
}
.img9 {
    width: 100px;
    padding: 15px;
}
h3 {
    color: black;
    padding: 15px;
}
h1 {
    margin-left: 300px;
}
.link {
    display: inline-block;
    padding: 8px 12px 7px 12px;
    background-color: white;
    text-decoration: none;
    margin: 15px;
    color: black;
}
.link4 {
    display: inline-block;
    padding: 8px 12px 7px 12px;
    background-color: white;
    text-decoration: none;
    margin: 4px;
    color: black;
}
.link5 {
    display: inline-block;
    padding: 8px 12px 7px 12px;
    background-color: white;
    text-decoration: none;
    margin: 8px;
    color: black;
}
.link6 {
    display: inline-block;
    padding: 8px 12px 7px 12px;
    background-color: white;
    text-decoration: none;
    margin: 4px;
    color: black;
}
.link7 {
    display: inline-block;
    padding: 8px 12px 7px 12px;
    background-color: white;
    text-decoration: none;
    margin: 4px;
    color: black;
}